@namespace Shared.UI.Components.TimePicker

<div class="ui-timepicker">
    <input class="ui-timepicker-input" type="time" @bind="SelectedTime" disabled="@Disabled" />
    @if (Popup)
    {
        <div class="ui-timepicker-popup">
            <div class="ui-timepicker-column">
                @foreach (var h in Enumerable.Range(0, 24).Select(i => i.ToString("00")))
                {
                    <button class="ui-timepicker-option @(SelectedHour == int.Parse(h) ? "is-selected" : "")"
                            disabled="@Disabled" @onclick="@(() => SetHour(int.Parse(h)))">@h</button>
                }
            </div>
            <div class="ui-timepicker-column">
                @foreach (var m in Enumerable.Range(0, 60).Select(i => i.ToString("00")))
                {
                    <button class="ui-timepicker-option @(SelectedMinute == int.Parse(m) ? "is-selected" : "")"
                            disabled="@Disabled" @onclick="@(() => SetMinute(int.Parse(m)))">@m</button>
                }
            </div>
        </div>
    }
</div>
