@namespace Shared.UI.Components.Button

<button @attributes="Attributes" type="@HtmlType" class="@CssClass" disabled="@Disabled"
        @onclick="OnClickHandler">
    @if (!string.IsNullOrWhiteSpace(IconName))
    {
        <Icon Name="@IconName" Size="Icon.IconSize.Small" />
    }
    @if (ChildContent is not null)
    {
        <span class="@(string.IsNullOrWhiteSpace(IconName) ? "" : "ui-btn-label")">@ChildContent</span>
    }
</button>
