@namespace Shared.UI.Components.Switch

<div class="ui-switch @(Checked ? "is-checked" : "") @(Disabled ? "is-disabled" : "")"
     role="switch"
     aria-checked="@Checked"
     tabindex="@(Disabled ? -1 : 0)"
     @onclick="Toggle"
     @onkeydown="OnKeyDown">
    <div class="ui-switch-track">
        <div class="ui-switch-thumb"></div>
    </div>
    @if (ShowLabel)
    {
        <span class="ui-switch-label">@Label</span>
    }
</div>
