@namespace Auth.UI.Components.UI.Form

<EditForm Model="@Model" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
    <div class="ui-form">
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        @if (ShowActions)
        {
            <div class="ui-form-actions">
                @if (ShowCancel)
                {
                    <Button Variant="Button.ButtonVariant.Secondary" OnClick="OnCancel">@CancelText</Button>
                }
                <Button Variant="Button.ButtonVariant.Primary" Type="submit" Disabled="@(!IsValid || IsSubmitting)">
                    @if (IsSubmitting)
                    {
                        <span class="ui-spinner" aria-hidden="true"></span>
                    }
                    @SubmitText
                </Button>
            </div>
        }
    </div>
</EditForm>
