@namespace Auth.UI.Components.UI.Radio

<label class="ui-radio @(Disabled ? "is-disabled" : "")">
    <input type="radio" name="@GroupName" value="@Value" checked="@IsChecked" disabled="@Disabled" @onchange="OnChanged" />
    <span>@ChildContent</span>
</label>
