@namespace Shared.UI.Components.Slider

<div class="ui-slider">
    <div class="ui-slider-header">
        @if (!string.IsNullOrWhiteSpace(Label))
        {
            <label class="ui-slider-label">@Label</label>
        }
        <span class="ui-slider-value">@Value</span>
    </div>

    <div class="ui-slider-track" @ref="_trackElement">
        <div class="ui-slider-fill" style="width: @FillPercent%"></div>
        <div class="ui-slider-thumb" 
             style="left: @FillPercent%" 
             tabindex="0" 
             @onkeydown="OnKeyDown"
             @onmousedown="OnMouseDown"
             @ontouchstart="OnTouchStart"
             role="slider" 
             aria-valuemin="@Min" 
             aria-valuemax="@Max" 
             aria-valuenow="@Value"
             aria-label="@Label">
        </div>
    </div>
    <div class="ui-slider-labels">
        <span>@Min</span>
        @if (ShowSteps)
        {
            @foreach (var step in GetSteps())
            {
                <span>@step</span>
            }
        }
        <span>@Max</span>
    </div>
</div>
